<head>
    <style>
        body {
            background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
        }

        header {
            background-image: url("backgrounds/image2.jpg") !important;
        }
    </style>
</head>

<div id="pt">

    <body>
        <%- include("../partials/header") %>
        <%- include("../navs/navPT") %>

        <header class=" center align-items-center justify-content-center text-center align-self-center ">
            <h1>RAFHAEL MARQUES</h1>
            <h2>DESENVOLVEDOR WEB</h2>
        </header>
        <main class="container text-left mt-4">
            <!-- Main Content -->
            <section>
                <div>
                    <h1 class="titlePT">SOBRE MIM</h1>
                    <br>
                    <p class="paragraph">Eu sou um desenvolvedor web front-end do Brasil.
                        <br>
                        Tenho experiência no desenvolvimento de websites com <mark>Javascript</mark> e com os
                        <i>frameworks</i> mostrados em meu <a href="/curriculo">currículo</a>, também tenho experiência
                        no desenvolvimento de aplicativos móveis multiplataforma com React Native, e aplicativos
                        desktop com Electron.
                        <br>
                        Embora eu foque mais em  front-end, também tenho conhecimento de tecnologias de
                        back-end, incluindo <mark>Node.Js</mark> e bancos de dados  como <mar>SQL</mar> e <mark> MongoDB </mark>.
                        <br>
                        Veja meu <a href="/curriculo"> currículo </a> completo.
                    </p>
                </div>
                <h1 class="titlePT">MEUS WEBSITES</h1>
                <br>
                <%- include("../cards/card1/cardPT")  %>

                <h1 class="titlePT">Projetos</h1>
                <br>
                <%- include('../projects/projectsPT')  %>
                <h1 class="titlePT">Tecnologias</h1>
                <br>
                <%- include('../skills/skills')  %>

            </section>
        </main>

        <%- include('../footer/footerPT')  %>
    </body>

    </html>