<head>
    <style>
        body {
            background-image: linear-gradient(to right, #34364e 0%, #2f3069 100%) !important;
        }

        header {
            background-image: url("backgrounds/image1.jpg") !important;
        }
    </style>
</head>

<body>
    <div id="es">

        <%- include("../partials/header") %>
        <%- include("../navs/navES") %>
        <header class=" center align-items-center justify-content-center text-center align-self-center ">
            <h1>RAFHAEL MARQUES</h1>
            <h2>DESARROLLADOR WEB</h2>
        </header>
        <main class="container text-left mt-4">
            <!-- Main Content -->
            <section>
                <div>
                    <h1 class="titleES">SOBRE MÍ</h1>
                    <br>
                    <p class="paragraph">Yo soy un desarrollador web front-end de Brasil.
                        <br>
                        Tengo experiencia en el desarrollo de websites con <mark>Javascript</mark> y sus
                        <i>frameworks</i> que se muestran en mi <a href="/curriculum">currículum</a>, también tengo
                        experiencia en el desarrollo de aplicaciones móvil multiplataforma con React Native y desktop
                        aplicaciones con Electron.
                        <br>
                        También tengo conocimiento de Python, pero no me consideraría un experto en Python, con
                        Python ya he creado <i>bots</i> con Selenium.
                        <br>
                        Aunque me centro más en el desarrollo front-end, también tengo experiencia con tecnologías
                        back-end, incluidas <mark>Node.Js</mark> y bases de datos NoSQL como <mark>MongoDB</mark>.
                        <br>
                        Programar no es lo único que puedo hacer, también me gusta estudiar economía y negocios.
                        Puede ver todos los <i>frameworks</i> e idiomas con los que estoy familiarizado en mi <a
                            href="/curriculum">currículum</a>.
                    </p>
                </div>
                <h1 class="titleES">MI WEBSITES</h1>
                <br>
                <%- include("../cards/card1/cardES")  %>
                <h1 class="titleES">Proyectos</h1>
                <br>
                <%- include('../projects/projectsEN')  %>
                <h1 class="titleES">Tecnologías</h1>
                <br>
                <%- include('../skills/skills')  %>

            </section>
        </main>
        <%- include('../footer/footerES')  %>

</body>

</html>